<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surveymapclient.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE"/> 
	<uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.surveymapclient.activity.HomeActivity"
            
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.surveymapclient.activity.DefineActivity"
            android:screenOrientation="portrait"  >                 
        </activity>
        <activity 
            android:name="com.surveymapclient.activity.GraphicalActivity"
            android:screenOrientation="portrait"  > 
        </activity>
        <activity 
            android:name="com.surveymapclient.activity.CameraActivity"
            android:screenOrientation="portrait"  > 
        </activity>
        <activity 
            android:name="com.surveymapclient.activity.StadyActivity"
            android:screenOrientation="portrait"  > 
        </activity>
        <activity 
            android:name="com.surveymapclient.activity.LineAttributeActivity"
            android:screenOrientation="portrait"  > 
        </activity>
        <activity 
            android:name="com.surveymapclient.activity.TestCameraActivity"
            android:configChanges="orientation|keyboardHidden" 
            android:screenOrientation="portrait"  > 
        </activity>
        <activity 
            android:name="com.surveymapclient.activity.ImageShowActivity"
            android:configChanges="keyboardHidden|orientation"
             > 
        </activity>
        <activity 
            android:name="com.surveymapclient.activity.ListLinesActivity"
            android:configChanges="keyboardHidden|orientation"
             > 
        </activity>
    </application>

</manifest>
